<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:icon="@mipmap/ic_showcase"
        android:roundIcon="@mipmap/ic_showcase"
        android:label="CircleKit Showcase"
        android:theme="@style/Theme.CircleKitShowcase">
        <activity
            android:name=".WearShowcaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
